<%= form_for @mail_template, :html => { :class => "form-horizontal mail_template" } do |f| %>

  <% if @mail_template.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mail_template.errors.count, "error") %> prohibited this mail_template from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mail_template.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :subject, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :subject, :class => 'form-control' %>
    </div>
    <%=f.error_span(:subject) %>
  </div>
  <div class="form-group">
    <%= f.label :body, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :body, :class => 'form-control' %>
    </div>
    <%=f.error_span(:body) %>
  </div>
  <div class="form-group">
    <%= f.label :csv_file, "CSV File",:class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :substitution_file %>
    </div>
    <%=f.error_span(:substitution_file) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mail_templates_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
