<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @template.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @template.to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @template.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @template.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @template.user %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
